nav
  position: fixed
  .topBar
    height: 2em
    width: 100vw
    position: relative
    transition: margin-top 100ms linear
    background: $primary-dark-color
  .topBarClosed
    margin-top: -2em
  .sideBar
    width: 100vw
    height: 100vh
    position: relative
    overflow: hidden
    transition: margin-left 100ms linear
    background: $primary-darker-color
  .sideBarClosed
    margin-left: -100vw
