nav
  position: fixed
  .topBar
    width: 100vw
    position: relative
    z-index: 50
  .sideBar
    width: 100vw
    height: 100vh
    position: relative
    overflow: hidden
    z-index: 51
  .sideBarClosed
    width: 0
