section.contentWrapper
  width: 100%
  position: absolute
  top: 0
  height: 100vh
  transition: transform 300ms
  overflow: auto
  &::after
    content: ""
    clear: both
    display: table
section.contentWrapper.tv-shows
  transform: translateX(0%)
section.contentWrapper.movies
  transform: translateX(100%)
section.contentWrapper.anime
  transform: translateX(200%)
